iframe {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 15em;
}

img {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    height: 15em;
}


body {
    background-color: gray;
    display: inline;
    font-family: cursive;
}

.Contenido {
    display: flex;
    width: 96%;
    margin: 0 auto;

}

header {
    width: 90%;
    background-color: #595994;
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    margin: 0 auto;
    border-radius: 2em 2em 0px 0px;
}
footer{
    width: 90%;
    background-color: #595994;
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    margin: 0 auto;
    border-radius:  0px 0px 2em 2em;
}

.PrimeraColumna {
    background-color: #91c391;
    width: 15%;
    margin-left: 5%;
}

.SegundaColumna {
    width:40%;
    background-color: aquamarine;
    margin-left: 2.5%;
}

.TerceraColumna {
    width: 30%;
    background-color: #91c391;
    margin-left: 2.5%;
}
.block{
    display: block;
}
.space{
    margin-left: inherit;
    margin-bottom: 1em;

}
.centertext{
    text-align: center;
}
p{
    margin-left: 4%;
    margin-right: 7%
}
.iconos{
    width: 2em;
    height: 2em;
    margin: 3px;
    
}
.figcaption {
    font-family: none;
    
}
.inline{
    display: inline-flex;
}
.copy{
    float: right;
    margin-top: 3.5em;
    margin-right: 2em;
}
.redes{
    margin-top: 0.5em;
    margin-right: 0.5em;
}
.contactanos{
    float: left;
    margin-left: 2em;
}

